<h2>Por país</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input type="text" name="termino" id="termino" placeholder="Buscar país..." class="form-control" [(ngModel)]="termino">

    </form>
  </div>
</div>

<hr>

termino
<div class="alert alert-danger">
  No se econtró nada con el termino...
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>bandera</td>
          <td>nombre</td>
          <td>1235700</td>
          <td><a href="pais/1">Ver...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
